


.not-found{
    @include container(100%,80Vh);
overflow: hidden;
    .btn{
        @include btn;
    }
    h1,h3{
        color: $primaryYellow;
        font-weight: bold;
    }
    h1{
        font-size: 900%;
    }
    a{
        text-decoration: none;
    }
}