

.starwars{

   @include container(100%,auto);
    .star-container{

        img{
            position: relative;
            width: 55%;
            left: 20%;
            height: 50%;
           margin-top: 20%;
        }
        z-index: 1;
        button{
            display:block;
            position: relative;
            
            width: 71%;
            height: 100px;
            top:60px;
            border-radius: 10px;
            background-color:$primaryYellow;
            
            font-size: 25px;
            font-weight: bold;
            outline: none;
            cursor: pointer;
            border: 2px solid $primaryYellow;
            box-shadow: 0 0 8px 1px rgb(185, 185, 185);
            
           
            margin: auto;

            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $btnYellow;
                border-radius: 10px;
                top: 18px;
                left: 0;
                box-shadow: 0 0 8px 1px rgb(185, 185, 185);
               z-index: -1;
                
                
            }
            
            &:hover{
                top:65px;
                background-color:$hoverYellow;
                &::before{
                    top: 13px;
                    
                }
                .star{
                    background-color:$hoverYellow;
                }
            }

            &:focus{
                top:71px;
                background-color:$hoverYellow;
                color: $focusYellow;
                &::before{
                    top: 7px;
                }
                 .star{
                    border-bottom:.7em solid $focusYellow;
                    background-color:$hoverYellow;
                    &:before, &:after {
                        border-bottom:.7em solid $focusYellow;
                      }
                    }
            }

            .star {
                position: relative;
                
                display: inline-block;
                width: 0;
                height: 0;
                
                margin-left: .9em;
                margin-right: .9em;
                margin-bottom: .6em;
                
                border-right:  .3em solid transparent;
                border-bottom: .7em  solid rgb(0, 0, 0);
                border-left:   .3em solid transparent;
                background-color:$primaryYellow;
                /* Controlls the size of the stars. */
                font-size: 24px;
                &:hover{
                    background-color:$hoverYellow;
                }
                &:before, &:after {
                  content: '';
                  
                  display: block;
                  width: 0;
                  height: 0;
                  
                  position: absolute;
                  top: .6em;
                  left: -1em;
                
                  border-right:  1em solid transparent;
                  border-bottom: .7em  solid rgb(0, 0, 0);
                  border-left:   1em solid transparent;
                
                  transform: rotate(-35deg);
                  
                }
                
                &:after {  
                  transform: rotate(35deg);
                  
                }
               
              }
            

        }


    }



}

@media only screen and (max-width: 900px) {


    .starwars{

    
    
        .star-container{
    
          
            z-index: 1;
            button{
               
                height: 80px;

                font-size: 18px;
               
                    .star{
                        font-size: 15px;
                    }
    
            }
    
    
        }
    
    
    
    }
    


}

@media only screen and (max-width: 600px) {


    .starwars{

    
    
        .star-container{
    
          
            z-index: 1;
            button{
               
                height: 60px;

                font-size: 12px;
               
                    .star{
                        font-size: 15px;
                    }
    
            }
    
    
        }
    
    
    
    }
    


}


