@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

@import '../src/style/var';
@import '../src/style/function';

@import '../src/style/login';
@import '../src/style/alert';
@import '../src/style/starwars';
@import '../src/style/task';
@import '../src/style/pagenotfound';
